@font-face {
  font-family: interMedium;
  src: url(./fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: ninoM;
  src: url(./fonts/bpg_nino_mtavruli_normal.otf);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

.myContainer {
  width: 1540px;
  margin: auto;
  max-width: 80%;
}

body {
  background-color: #111111;
  color: #fff;
}
.App {
  height: 100vh;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.hamburger span {
  transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
  position: absolute;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 50%;
}
