@font-face {
  font-family: interMedium;
  src: url(./fonts/Inter-Medium.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: interMedium;
}

.myContainer {
  width: 1540px;
  margin: auto;
  max-width: 80%;
}

body {
  background-color: black;
  color: #fff;
}
.App {
  height: 100vh;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}